* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "Blokk";
    src: url("../fonts/BLOKKRegular.ttf");
}

.heading {
  height: 50px;
  z-index: 1;
}

.top {
  background: #212121;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}
a.menu {
  position: absolute;
  z-index: 3;
  text-decoration: none;
  bottom: 0px;
  right: 20px;
  font-size: 1.5em;
  color: black;
}

a.menu span {
  font-size:1.6em;
  vertical-align: -0.15em;
}

/*Menu animations*/

.detailedDrawer {
  position: relative;
  z-index: 1;
  -webkit-transform: translate3d(0, -90px, 0);
  -moz-transform: translate3d(0, -350px, 0);
  -o-transform: translate3d(0, -350px, 0);
  transform: translate3d(0, -90px, 0);
  -webkit-transition:-webkit-transform 0.25s linear;
  -moz-transition:-moz-transform 0.25s linear;
  -o-transition:-o-transform 0.25s linear;
  transition: transform 0.2s linear, height .30s 0.7s;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  margin: 0px;
}

.detailedDrawer.active {
 -webkit-transform: translate3d(0,50px,0);
  -moz-transform: translate3d(0,50px,0);
  -o-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  margin: 0px;
  /*z-index: 3;*/
}

.detailedDrawer.high {
  height: 440px;
  transition: height .3s;
}

/*dragend container*/
#contentSwiper {
  width: auto;
  height: 400px;
  margin: 0px;
  /*background: #457;*/
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0;
  transform: translate3d(0px, -400px, 0px);
  transition: transform 0s 0.7s linear, opacity 0.4s 0s;
  /*transition: opacity .3s .30s linear;*/
  z-index: 0;
  /*overflow-y: scroll;*/
}

#contentSwiper .swiper-slide {
  overflow-y: auto;
}

#contentSwiper.active {
  opacity: 1;
  transition: opacity .3s .35s linear;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
}

.swiper-container {
  position: absolute;
  /*opacity: 1;*/
  transform: translate3d(0px, 0px, 0px);
  transition: opacity .5s .35s linear, transform 0s .35s;
}

/*.swiper-container.hidden {
  opacity: 0;
  transform: translate3d(0px, -500px, 0px);
  transition: opacity .35s, transform 0s .35s;
}*/

.btnDetailedDrawer {
  width: 150px;
  margin: 10px;
  height: 20px;
  border: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
}

#detailedDrawerNavigation {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  /*top: -165px;*/
  transform: translate3d(0px, 0px, 0px);
}

/* Fallbacks */

.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer nav {
  display: none;
}

.no-csstransforms .drawer.active nav {
  display: block;
}

body {
  background: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contentSwiper li.first {
  background: #577;
}
#contentSwiper li.middle {
  background: #1e8;
}
#contentSwiper li.last {
  background: #e8b;
}

.columns {
  -webkit-columns: 4 250px;
  -moz-columns: 4 250px;
  columns: 4 250px;
}

.img-content {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

p {
  margin: 10px;
  font-size: .9em;
}

#map {
    /*z-index: 0;*/
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate3d(0, 50px, 0);
    /*transition: transform .35s;*/
}

#map.preview {
  /*top: 160px;*/
 /* transform: translate3d(0, 160px, 0);
  transition: transform .35s;
  height: 100%;*/
}

.expeditionItem {
  width: 160px;
  height: 130px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  /*cursor: pointer;*/
  float: left;
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/9/91/Hr._Ms._K_XVIII_%2811_July_1935%29.jpg);
  background-size: 140px 70px;
  background-repeat: no-repeat;
  background-position: 20px 50px;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.previewItemActive {
  border-color: black;
  border-width: 2px;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;;
}

.expeditionPreviewTitle {
  cursor: pointer;
  color: black;
  font-size: 0.9em;
}

.expeditionPreviewSummary {
  /*font-family: "Blokk";*/
  font-size: 0.7em;
  cursor: pointer;
}

.readMore {
  text-align: right;
  font-size: .8em;
  border-radius: 3px;
  float: right;
  padding: 2px;
  position: absolute;
  top: 135px;
  /*left: 30px;*/
  margin-left: 7px;
}

.readMore > a {
  color: gray;
  margin-right: 5px;
  text-align: center;
}

/*.swiper-container .swiper-slide {
  width: 150px;
}*/

.swiper-free-mode > .swiper-wrapper {
  /*width: 500px;*/
  margin: 0px !important;
}

.expedition-logo {
  background-image: url(../images/icons/wikipedialogo.jpg);
  height: 100px;
  width: 115px;
  background-size: 103px 34px;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

.map-controls {
  position: fixed;
  bottom: 10px;
  width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.map-control {
  display: inline-block;
  margin: 10px;
  border-style: solid;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, .4);
}

#mapDrawer {
  display: inline-block;
  cursor: crosshair;
  opacity: 0;
}

#btnMapDrawer {
  /*position: absolute;
  bottom: -100px;*/
  opacity: .5;
  cursor: not-allowed;

}

#btnMapDrawer.active {
  /*position: static;*/
  cursor: pointer;
  opacity: 1;
}

.map-list {
  opacity: 0;

}

.map-list.active {
  opacity: 1;
  transition: opacity .3s;
}

#lstMap {
  position: absolute;
  bottom: 50px;
  border-style: solid;
  max-height: 200px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, .4);
  overflow-y: auto;
}

.spacer-left {
  position: absolute;
  width: 150px;
  display: inline;
  background-color: white;
  left: 0px;
  /*padding-left: 50px;*/
  top: 0px;
  bottom: 0px;
  box-shadow: 10px 0px 10px 20px white;
  z-index: 2;
}


.spacer-left-content {
  width: 100%;
  text-align: center;
  margin-left: 5px;
  padding: 5px;
}

.spacer-left-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.spacer-left-summary {
  font-size: 0.8em;
  font-style: italic;
}

.spacer-right {
  position: absolute;
  width: 50px;
  display: inline;
  background-color: white;
  right: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: -10px 0px 10px 20px white;
  z-index: 2;
}

.spacer-left.hidden {
  transform: translate3d(-1000px, 0px, 0px);
}

#previewSwiper {
  position: absolute;
  left: 175px;
  right: 80px;
}

#swiperMenu {
  opacity: 1;
  transition: opacity .5s .3s, translate 0s 0s;
}

#swiperMenu.hidden {
  /*position: absolute;*/
  opacity: 0;
  /*transform: translate3d(-1000px, 0px, 0px);*/
  transition: opacity .5s, translate 0s 1s;
}