* {
  margin: 0;
  padding: 0;
}

.top {
  background: #212121;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}


/*Menu animations*/

.detailedDrawer {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate3d(0, -90px, 0);
  -moz-transform: translate3d(0, -350px, 0);
  -o-transform: translate3d(0, -350px, 0);
  transform: translate3d(0, -90px, 0);
  -webkit-transition:-webkit-transform 0.25s linear;
  -moz-transition:-moz-transform 0.25s linear;
  -o-transition:-o-transform 0.25s linear;
  transition: transform 0.2s linear, height .30s 0.7s;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  margin: 0px;
  
}

.detailedDrawer.active {
 -webkit-transform: translate3d(0,50px,0);
  -moz-transform: translate3d(0,50px,0);
  -o-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  margin: 0px;
  box-shadow: 0px -5px 30px;
}

.detailedDrawer.high {
  height: 440px;
  transition: height .3s;
  box-shadow: 0px 5px 15px;
}

/*dragend container*/
#contentSwiper {
  width: auto;
  /*height: 380px;*/
  height: 100%;
  margin: 0px;
  /*background: #457;*/
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0;
  transform: translate3d(0px, -400px, 0px);
  transition: transform 0s 0.7s linear, opacity 0.4s 0s;
  /*transition: opacity .3s .30s linear;*/
  z-index: 0;
/*  padding-left: 30px;
  padding-right: 30px;
  padding- top: 20px;*/
}

#contentSwiper .swiper-slide.scroll {
  overflow-y: auto;
  height: 440px;
}

#contentSwiper.active {
  opacity: 1;
  transition: opacity .4s .45s linear;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
}

.swiper-container {
  position: absolute;
  opacity: inherit;
  /*opacity: 1;*/
  transform: translate3d(0px, 0px, 0px);
  transition: opacity .5s .35s linear, transform 0s .35s;
}

.btnDetailedDrawer {
  width: 150px;
  margin-left: 5px;
  margin-top: 15px;
  height: 30px;
  border: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.75em;
  cursor: pointer;
}

#detailedDrawerNavigation {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  /*top: -165px;*/
  transform: translate3d(0px, 0px, 0px);
}

/* Fallbacks */

/*.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer nav {
  display: none;
}

.no-csstransforms .drawer.active nav {
  display: block;
}*/

body {
  background: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*#contentSwiper li.first {
  background: #577;
}
#contentSwiper li.middle {
  background: #1e8;
}
#contentSwiper li.last {
  background: #e8b;
}*/

.columns {
  -webkit-columns: 2 350px;
  -moz-columns: 2 350px;
  -o-columns: 2 350px;
  columns: 2 350px;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  -o-column-gap: 3em;
  column-gap: 3em;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;

  /*padding-right: 150px;*/
}

.VM-attribution {
  margin-left: 0px;
}

.columns h2, h3 {
  font-size: 1em;
}

.columns img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.columns-none {
  -webkit-columns: 2 500px;
  -moz-columns: 2 500px;
  columns: 2 500px;
  padding-left: 20px;
  padding-right: 150px;
  padding-top: 20px;
}

.columns-none h2, h3 {
  font-size: 1em;
}

.columns iframe {
  width: 300px;
  height: 150px;
}

.img-content {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

p {
  margin: 10px;
  font-size: .9em;
}

#map {
    /*z-index: 0;*/
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate3d(0, 50px, 0);
    /*transition: transform .35s;*/
}

/*#map.preview {
  top: 160px;
  transform: translate3d(0, 160px, 0);
  transition: transform .35s;
  height: 100%;
}*/

.expeditionItemContainer {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.expeditionItem {
  width: 190px;
  height: 170px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
}

.previewItemActive {
  border-color: black;
  border-width: 2px;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;;
}

.expeditionPreviewTitle {
  color: black;
  position: absolute;
  width: 190px;
  font-size: 0.9em;
  background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: linear-gradient(top, white, rgba(255, 255, 255, 0));
  /*padding-bottom: 10px;*/
  /*padding-bottom: 120px;*/
}

.expedition-preview-title-article {
  position: absolute;
  color: black;
  width: 190px;
  font-size: 0.9em;
}

.expeditionPreviewSummary {
  /*font-family: "Blokk";*/
  font-size: 0.7em;
  cursor: pointer;
  padding: 10px;
  padding-top: 40px;
}

.expedition-preview-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*margin-top: -2px;*/
  height: 100px;
  max-width: 185px;
  padding-top: 38px;
}

.readMore {
  text-align: center;
  margin-top: -30px;
}

.readMore > span {
  color: rgba(240, 240, 240, 1);
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  background-color: black;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: .8em;
  text-decoration: none;
}

.swiper-free-mode > .swiper-wrapper {
  /*width: 500px;*/
  margin: 0px !important;
}

.swiper-wrapper.scroll {
  height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#expedition-logo {
  /*background-image: url(../images/icons/wikipedialogo.jpg);*/
  height: 40px;
  margin-top: 5px;
  /*background-size: 103px 34px;*/
  /*background-repeat: no-repeat;*/
  /*background-position: 10px 8px;*/
}

.expedition-logo-container {
  float: left;
}

#overview {
  float: left;
  /*margin-top: 26px;*/
  /*display: none;*/
}

#overview > a {
  color: #00adef;
  /*font-size: 0.8em;*/
  margin-left: 10px;
  text-decoration: none;
  display: none;
}

.expedition-title {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  text-align: center;
  opacity: 0;
  font-size: 20px;
  margin-top: 10px;
}

.expedition-title.active {
  opacity: 1;
}

.expedition-title.expedition {
  margin-top: 0px;
  font-size: 14px;
  opacity: 1;
}

.expedition-subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  opacity: 0;
  font-style: italic;
  font-size: 0px;
}

.expedition-subtitle.active {
  opacity: 1;
  font-size: 18px;
}

.menu-stack {
  float: right;
}

.map-controls {
  position: absolute;
  bottom: 10px;
  width: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.map-control {
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}

.map-control > img {
  width: 30px;
  height: 30px;
  stroke: white;
}

#mapDrawer {
  display: inline-block;
  cursor: crosshair;
  opacity: 0;
}

#btnMapDrawer {
  position: absolute;
  bottom: -100px;
  opacity: 0;
  display: none;
  /*cursor: not-allowed;*/

}

#btnMapDrawer.active {
  position: static;
  cursor: pointer;
  opacity: 1;
  display: inline;
}

.map-list {
  opacity: 0;
  z-index: -1;
  position: fixed;
  bottom: 50px;
  border-style: solid;
  max-height: 200px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, .4);
  overflow-y: auto;

}

.map-list.active {
  opacity: 1;
  transition: opacity .3s;
  z-index: 2;
}

.spacer-left {
  position: absolute;
  width: 150px;
  display: inline;
  background-color: white;
  left: 0px;
  top: 0px;
  bottom: 0px;
  box-shadow: 10px 0px 10px 20px white;
  z-index: 2;
  opacity: inherit;
}


.spacer-left-content {
  width: 100%;
  text-align: center;
  margin-left: 5px;
  padding: 5px;
}

.spacer-left-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.spacer-left-summary {
  font-size: 0.8em;
  font-style: italic;
}

.spacer-left.hidden {
  transform: translate3d(-1000px, 0px, 0px);
}

#previewSwiper {
  position: absolute;
  left: 175px;
  right: 80px;
  height: 100%;
}

#swiperMenu {
  opacity: 1;
  transition: opacity 0.4s 0.3s linear;
}

#swiperMenu.hidden {
  opacity: 0;
  transition: opacity 0.4s 0s linear;
  pointer-events: none;
}

#lstMap label > div {
  display: inline;
  margin: 10px;
}

#btnMenu {
  position: fixed;
  right: 22px;
  top: 15px;
  cursor: pointer;
}

#btnMenu > img {
  float: right;
  width: 30px;
  height: 30px;
}

#menuContainer.active {
  top: 55px;
}

.menu-item {
  width: 300px;
  background-color: gray;
  text-align: center;
  margin-bottom: 2px;
  color: white;
  text-transform: uppercase;
}

.menu-item:hover {
  background-color: #01aef0;
}

#menuContainer {
  position: fixed;
  top: -1000px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

#menuContent {
  position: fixed;
  left: -1000px;
  opacity: 0;
}

.menu-content-item {
  padding: 50px;
}

#menuContent {
  padding: 10px;
}

#menuBlackout.active {
  position: absolute;
  z-index: 2;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: black;
  opacity: .7;
}


a.commons {
  color: white;
}

a.commons:visited {
  color: white;
}

.wiki-leesmeer {
  /*position: absolute;
  bottom: 60px;
  right: -200px;
  transition: transform .4s .1s;*/
/*  position: absolute;
  bottom: 20px;
  right: 10px;*/
  padding-right: 13px;
  background-image: url('http://bits.wikimedia.org/static/1.26wmf3/skins/Vector/images/external-link-ltr-icon.png?2015-04-22T18:40:00Z');
  background-position: center right;
  background-repeat: no-repeat;
}

.wiki-leesmeer a {
  /*color: #00adef;*/
  color: blue;
}

/*.wiki-leesmeer.active {
  transform: translate3d(-210px, 0px, 0px);
  transition: transform .2s .3s;
}*/

.spacer-right.active {
  transform: translate3d(-70px, 0px, 0px);
  transition: transform .2s .45s;
}

.spacer-right {
  position: absolute;
  opacity: inherit;
  width: 120px;
  display: inline;
  background-color: white;
  right: -70px;
  top: 0px;
  bottom: 0px;
  box-shadow: -10px 0px 10px 20px white;
  z-index: 2;
  /*transform: translate3d(70px, 0px, 0px);*/
  transition: transform .2s 0s;
}


.fancybox-title-float-wrap .child {
  white-space: normal !important;
}

.menu-scroll-button {
  /*margin-top: 60px;*/
  opacity: 0.9;
  transition: opacity .2s 1s;
  cursor: pointer;

}

.menu-scroll-button > img {
  width: 25px;

}

.menu-scroll-button.hidden{
  opacity: 0;
  transition: opacity .2s;
}

#btnMenuScrollLeft {
  margin-top: 60px;
}

#btnMenuScrollRight {
  margin-top: 5px;
}

.menu-close-button {
  position: absolute;
  right: 25px;
  bottom: 7px;
  z-index: 2;
  transition: opacity .2s 1s;
}

.menu-close-button.hidden {
  opacity: 0;
  transition: opacity .2s;
}

.menu-close-button > img {
  width: 25px;
  height: 25px;
}


#introduction {
  display: none;
  padding: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/UvA-Artis_300.002_-_Siboga_-_laboratorium_aan_boord_van_de_Siboga.jpg/615px-UvA-Artis_300.002_-_Siboga_-_laboratorium_aan_boord_van_de_Siboga.jpg');
  background-size: cover;
  background-position: -148px 0px;
  height: 540px;
}

.intro-title {
  color: black;
  text-shadow: 0px 0px 15px white;
  text-align: center;
  display: none;
}

.intro-title.active {
  display: block;
}

#introduction img {
  height: 50px;
  margin-top: 30px;
}

.introduction-content {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: .9em;
  position: absolute;
  top: 345px;
  left: 65px;
  right: 65px;
  padding: 30px;
  border-radius: 4px;
  text-align: center;
  display: none;
  color: black;
}

.introduction-content.active {
  display: block;
}

.intro-language-switch {
  color: rgb(50, 50, 50);
  margin-top: 7px;
  font-weight: bold;
  position: absolute;
  top: 340px;
  right: 30px;
  text-shadow: 0px 0px 5px white;
  font-size: 1.2em;
  color: black;
}

#btnLanguage {
  float: right;
  position: fixed;
  right: 70px;
  top: 15px;
  font-size: .9em;
  color: #999;
  cursor: pointer;
}

.language:hover {
  color: white;
  cursor: pointer;
}

.intro-text-content {
  /*background-color: black;*/
  /*float: left;*/
  /*width: 50%;*/
  text-align: center;
  position: absolute;
  top: 30px;
  left: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  /*padding-bottom: 200px;*/
  width: 413px;
  border-radius: 5px;
}

.intro-text-image {
  /*float: right;*/
  /*width: 50%;*/
  /*height: 100%;*/
  text-align: center;
}

.intro-text-image img {
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 20px;*/
  /*max-height: 360px;*/
  width: 100%;
  display: block;
  min-width: 768px;
  max-height: 800px;
}

.expedition-text-content {
  /*background-color: black;*/
  float: left;
  width: 50%;
  text-align: center;
  height: 440px;
  position: absolute;
  /*padding: 20px;*/
}

.expedition-text-image {
  float: right;
  width: 50%;
  height: 440px;
}

.expedition-text-image img {
  min-height: 440px;
  width: 100%;
  min-width: 600px;
  /*height: 100%;*/
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.wiki-attribution {
  text-align: left;
  padding: 30px;
}

.content-controls {
  position: absolute;
  bottom: 0px;
  right: 40px;
  height: 280px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s;
  cursor: pointer;
  pointer-events: none;
}

.content-controls.active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.4s 0.4s;
}

.content-control {
  /*display: none;*/
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.7);
}

.content-control.active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0s 0.5s;
}

#btnContentForward {
  top: 55px;
  height: 46px;
  width: 46px;

}

#btnContentBack {
  top: 0px;
  height: 46px;
  width: 46px;  
}

#btnBack {
  position: absolute;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 10px;
  width: 46px;
  height: 46px;

  border-radius: 23px;
}


#btnStartExpedition {
  /*position: absolute;*/
  /*margin-top: 150px;*/

}

ul {
  list-style-type: none;
}

.sponsor-logos {
  height: 150px;
  width: 150px;
  margin-left: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.sponsor-logos.tudelft {
  background-image: url('../images/logos/tudelft.jpg');
  background-size: 90% 60%;
}

.sponsor-logos.dhc {
  background-image: url('../images/logos/DHC.jpg');
  background-size: 90% 60%;  
}

.sponsor-logos.mm {
  background-image: url('../images/logos/MM.jpg');
  background-size: 90% 60%;  
}

.sponsor-logos.uva {
  background-image: url('../images/logos/UVA.jpg');
  background-size: 90% 30%;  
}

.sponsor-logos.ul {
  background-image: url('../images/logos/UL.jpg');
  background-size: 60% 80%;  
}

.sponsor-logos.km {
  background-image: url('../images/logos/KM.jpg');
  background-size: 80% 50%;  
}

.beta {
  margin-left: 10px;
  font-variant: small-caps;
  color: red;
  text-shadow: 0px 0px 15px red;
  font-size: 21px;
}